body {
    margin: 0;
    background-color: #010101;
}

#logo {
    width: 100%;
    height: 120px;
    background-image: url('../img/rakwaty.jpg');
    background-size: 100% 120px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    background-color: rgb(211, 211, 211);
    padding: 25px 0;
}

.nav_item {
    margin-right: 15px;
    color: #010101;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.nav_item:hover {
    color: rgba(1, 1, 1, 0.5)
}

@media (min-width: 992px) {
    .nav_item {
        font-size: 1.35rem;
    }
}

.title {
    color: #E7EAEF;
    text-align: center;
    margin: 45px 0;
    font-family: 'Dancing Script', cursive;
    animation-name: title;
    animation-duration: 2s;
}

@keyframes title {
    from {
        color: transparent;
    }

    to {
        color: #E7EAEF;

    }
}

@media (max-width: 991px) {
    .nav_item {
        margin-right: 10px;
    }

    .title {
        margin: 35px 0;
    }

    h3,
    .h3 {
        margin-top: 15px;
    }
}

h3,
.h3 {
    font-family: 'Gentium Book Plus', serif;
    font-style: italic;
    color: #d8ac63;
    font-size: 2rem;
    white-space: nowrap;
    animation-name: categTitle;
    animation-duration: 2s;
}

.item,
.dots,
.price {
    padding-left: 5px;
    font-size: 1.2rem;
    font-family: 'Gentium Book Plus', serif;
    font-style: normal;
    color: #E7EAEF;
}

.item,
.price,
small {
    animation-name: item;
    animation-duration: 2s;
}

.item {
    padding-right: 20px;
}

.dots {
    height: 0;
    width: 100%;
    border: 0.5px dashed rgba(211, 211, 211, 0.3);
    align-self: center;
    animation-name: dots;
    animation-duration: 2s;
}

.price {
    padding-left: 20px;
    font-size: 1.5rem;
    font-style: italic;
}

.curr {
    font-size: 1rem;
}

@keyframes categTitle {
    from {
        color: transparent;
    }

    to {
        color: #d8ac63;
    }

}

@keyframes item {
    from {
        color: transparent;
    }

    to {
        color: #E7EAEF;
    }

}

@keyframes dots {
    from {
        border-color: transparent;
    }

    to {
        border-color: rgba(211, 211, 211, 0.3);
    }

}

small {
    color: #E7EAEF;
    opacity: 0.7;
}

footer {
    font-size: 15px;
    text-align: center;
    color: #E7EAEF;
    line-height: 1.75;
    opacity: 0.8;
    border-top: 1px solid rgba(231, 234, 239, 0.5);

}

footer .container {
    padding: 40px 0;
}

.insta span,
.location {
    color: #d8ac63;
}

.insta a,
.insta a:link,
.insta a:visited {
    font-size: 15px;
    color: #E7EAEF;
}

.insta a:hover {
    opacity: 0.7;
}

.copyright {
    padding-top: 15px;
    color: #d8ac63;
}
